@tailwind base;
@tailwind components;
@tailwind utilities;

.green {
  background-color: #6aaa64;
  color: white;
  border-color: #6aaa64;
}
.yellow {
  background-color: #c9b458;
  color: white;
  border-color: #c9b458;
}
.grey {
  background-color: #787c7e;
  color: white;
  border-color: #787c7e;
}